.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  padding: 20px;
 

  .signup-box {
    padding: 40px;
    border-radius: 10px;
   
    max-width: 450px;
    width: 100%;
    transition: transform 0.2s;

 

    h2 {
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 30px;
      color: #333;
    }

    form {
      .input-group {
        margin-bottom: 25px;

        label {
          display: block;
          margin-bottom: 8px;
         font-size: 13px;
          color: #444;
        }

        input {
          width: 100%;
         
          border: none; // Remove border
          border-bottom: 0.5px solid #ddd; // Underline only
          border-radius: 0; // Remove rounded corners
          font-size: 12px;
          background-color: transparent; // Make background transparent

          &:focus {
            border-bottom: 0.5px solid #1d1e1e; // Change underline color on focus
            outline: none;
          }
        }

        .password-input {
          position: relative;

          input {
            padding-right: 50px;
          }

          .toggle-password {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            cursor: pointer;
            font-size: 14px;
            color: #777;

            &:hover {
              color: #777;
            }
          }
        }

        .error {
          margin-top: 5px;
          font-size: 12px;
          color: #e74c3c;
        }
      }

      .submit-btn {
        width: 100%;
        padding: 14px;
        background-color: #101010;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #000000;
        }
      }
    }

    .account-redirect {
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
      color: #555;

      a {
        color: #555;
        text-decoration: none;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // Responsive adjustments
  @media (max-width: 480px) {
    .signup-box {
      padding: 30px;

      h2 {
        font-size: 22px;
      }

      form {
        .input-group {
          label {
            font-size: 14px;
          }

          input {
            font-size: 14px;
          }
        }

        .submit-btn {
          font-size: 15px;
        }
      }

      .account-redirect {
        font-size: 14px;
      }
    }
  }
}
