@import url('https://fonts.googleapis.com/css2?family=Forum&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.product-section-new {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1200px;
  margin: auto;

  h1{
    font-family: "Forum", serif;
    text-align: center;
    margin-bottom: 20px;

    
  }

  .product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    gap: 30px;
    

    .product-item {
      
      width: calc(33.33% - 20px); /* Default for large screens */
      font-family: "Lato", sans-serif;
      position: relative;
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 15px;

      .product-image {
        width: 100%;
        height: 200px; /* Fixed height */
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-bottom: 1px solid #ddd;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover; /* Scale image to cover the div */
        }
      }

      .product-name {
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 600;
        font-family: "Forum", serif;
     
      }

      .product-details-bottom {
        text-align: center;
        width: 100%; /* Ensure it uses the full width of the card */
        
        p {
          margin: 5px 0;
          font-size: 0.8rem;
          
        }

        .product-sizes {
          margin-top: 10px;
          display: flex;
          justify-content: center;

          label {
            display: block;
            margin: 5px 0;
            font-size: 0.8rem;
            margin-right: 10px;
            font-family: "Forum", serif;

            input {
              margin-right: 10px;
            }
          }
        }

        .product-price {
          margin-top: 10px;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }

      .add-to-cart-btn {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 0.7rem;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 10px;
        font-family: "Montserrat", sans-serif;
        border-radius: 4px;
        font-weight: 300;

        &:hover {
          background-color: #555;
        }

        &:disabled {
          background-color: #aaa;
          cursor: not-allowed;
        }
      }

      .add-to-cart-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        transform: translateY(100%);
   

        &:hover {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    @media (max-width: 1024px) { /* Tablets */
      .product-item {
        width: calc(50% - 20px); /* Two items per row on tablets */
      }
    }
  
    @media (max-width: 768px) { /* Mobile */
      .product-item {
        width: calc(100% - 20px); /* One item per row on mobile */
      }
    }
  }


}
