.section4-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
   gap: 30px;
   
    max-width: 1147px;
    margin: auto;
    font-family: "Lato", sans-serif;
    .left {
      flex: 1;
      margin-right: 20px;
  
      h2 {
        font-size: 24px;
        margin-bottom: 10px;
        font-family: "Forum", serif;
      }
  
      p {
        margin-bottom: 20px;
        line-height: 27px;
        color: #333;
      }
  
      .discover-button {
        background-color: #000000;
        color: #ddd;
     
      border: 1px solid #252525;
      padding: 10px 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: background-color 0.5s ease;

      svg {
        margin-left: 10px;
      }
      &:hover{
        color: #252525;
        background-color: #ffffff;
      }
      }
    }
  
    .right {
      flex: 1.3;

   
      img {
        max-width: 100%;
        height: auto;
      }
    }
  
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      
  
      .left, .right {
        margin: 10px 0;
      }
  
      .left {
        margin-right: 0;
      }
    }
  }
  